.basket-page { //de schimbat
    
    display: flex;
    .basket-table{
        flex: 3;
        justify-content: center;
        height: max-content;
        &.no_items{
            flex:1;
        }
        
        .loader{
            align-self: center;
        }

        
    }   
    @import "./basketSummary/";
}
input{
        
    width: 30px;
    height: 20px;
    text-align: center;
    border: none;
    background-color: white;
}