$fontSize: 42px;

body {
    margin:0;
   
    div {
        padding:2px;
        background-color: blueviolet;
        font-size: $fontSize;

        
    }
}

.navigator {
    display: flex;
    align-items: center;
    //justify-content:space-around;
    *{
        flex-direction: row;
        flex-wrap: nowrap;
        
    }
}