.button{

    font-size: $textSize-m;
    font-family: $fontFamily;

    display: flex;
    align-items: center;

    flex:1;
    justify-content: space-between;

    max-width: 100px;
    color: black;
    cursor: pointer;
    outline: none;
    padding: $spacing-s;
    text-decoration: none;
    box-shadow: $shadow;
    border-radius: $radius;
    box-sizing: border-box;
    white-space: nowrap;
    border-color: transparent;
    background-color: $color-default;
    user-select: none;
    &:hover{
        background-color:$color-primary;
    }
    &.longButton{
        max-width: 1000px;
    }

    &__skin {
        &--primary{
            background-color: $color-primary;
        }
        &--highlight{
            background-color: $color-highlight;
        }
        &--danger{
            background-color: $color-danger;
        }
        &--success{
            background-color: $color-success;
        }
        
    }
    &__size{
        &--s{
            font-size: $textSize-s;
        }
        &--m{
            font-size: $textSize-m;
        }
        &--l{
            font-size: $textSize-l;
        }
    }
    &--isActive{
        background-color: $color-highlight;
    }
    &--disabled{
        pointer-events: none;
        opacity: 0.6;
    }
    //by me
    .icon{
        margin-right: -10px;
    }
    
   
        justify-content: center;
    

    &__hover_skin {
        &--primary:hover{
            background-color: $color-primary;
        }
        &--highlight:hover{
            background-color: $color-highlight;
        }
        &--danger:hover{
            background-color: $color-danger;
        }
        &--success:hover{
            background-color: $color-success;
        }
    }
}