.search-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1 solid black;
    box-shadow: $shadow;
    color: black;
    padding: $spacing-s;
    border-bottom:1px solid black;
    .bar {
       flex:1;
       border:none;
       outline: none;
     
    }
    
}